<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cqut.mapper.GManagerMapper">
    <select id="getGManager" resultType= "goodserManager" parameterType="java.util.Map">
        SELECT * FROM goodsermanager limit #{begin},#{end}
    </select>
    <insert id="addGManager" parameterType="goodserManager">
        insert into goodsermanager values (#{id},#{username},#{password},#{state})
    </insert>
    <delete id="delGManager" parameterType="goodserManager">
        delete from goodsermanager where id=#{id}
    </delete>
    <update id="updateGManager" parameterType="goodserManager">
        update goodsermanager set username=#{username},password=#{password},state=#{state} where id=#{id}
    </update>
</mapper>