<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cqut.mapper.goodsMapper">
    <select id="getGoods" resultType= "goods" parameterType="java.util.Map">
        SELECT * FROM goods limit #{begin},#{end}
    </select>
    <insert id="addGoods" parameterType="goods">
        insert into goods values (#{id},#{goodsName},#{goodsType},#{goodsPrice},#{goodsNum},#{goodsImage},#{goodsInfo},#{state})
    </insert>
    <delete id="delGoods" parameterType="goods">
        delete from goods where id=#{id}
    </delete>
    <update id="updateGoods" parameterType="goods">
        update goods set goodsName=#{goodsName},goodsType=#{goodsType},goodsPrice=#{goodsPrice},goodsNum=#{goodsNum},goodsImage=#{goodsImage},goodsInfo=#{goodsInfo},state=#{state} where id=#{id}
    </update>
    <select id="getAllGoods" resultType="goods">
        SELECT * FROM goods
    </select>

</mapper>