<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cqut.mapper.goodsTypeMapper">
    <select id="getGoodsType" resultType= "goodsType" >
        SELECT * FROM goodstype
    </select>
    <insert id="addGoodsType" parameterType="goodsType">
        insert into goodstype values (#{id},#{name},#{state})
    </insert>
    <delete id="delGoodsType" parameterType="goodsType">
        delete from goodstype where id=#{id}
    </delete>
    <update id="updateGoodsType" parameterType="goodsType">
        update goodstype set name=#{name},state=#{state} where id=#{id}
    </update>
</mapper>