<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cqut.mapper.LoginMapper">
    <select id="findUser" resultType= "User" parameterType="User">
        select * from user where username = #{username} and password = #{password}
    </select>
    <select id="findManager1" resultType="goodserManager" parameterType="goodserManager">
        select * from goodsermanager where username = #{username} and password = #{password}
    </select>
    <select id="findManager2" resultType="saleManager" parameterType="saleManager">
        select * from salemanager where username = #{username} and password = #{password}
    </select>
    <select id="findManager3" resultType="systemManager" parameterType="systemManager">
        select * from systemmanager where username = #{username} and password = #{password}
    </select>
    <select id="checkRegisted" resultType="User" parameterType="User">
        select * from user where username = #{username} and password = #{password};
    </select>
    <select id="getMaxUserId" resultType="String">
        select max(id) from user
    </select>
    <insert id="insertUser" parameterType="User">
        insert into user values (#{id},"",#{username},#{password},"","启用")
    </insert>
</mapper>